@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Unica+One&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #324b5d;
  color: #f0eceb;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-e-header.is-open .t-e-header-background {
  left: 0;
}
.t-e-header-button-wrapper {
  margin-left: auto;
}
.t-e-header-icon {
  display: none;
}

.t-e-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-e-navigation-list.is-open {
  right: 0;
}
.t-e-header-icon-menu {
  display: block;
}

.t-e-header-icon-button.is-open .t-e-header-icon-menu {
  display: none;
}

.t-e-header-icon-button.is-open .t-e-header-icon-close {
  display: block;
}

.t-e-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
}

.t-e-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #324b5d;
}
.t-e-header.is-open .t-e-header-background {
  left: 0;
}
.t-e-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-e-header-icon-menu {
  display: block;
}

.t-e-header-icon-button.is-open .t-e-header-icon-menu {
  display: none;
}

.t-e-header-icon-button.is-open .t-e-header-icon-close {
  display: block;
}

.t-e-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 48px 42px 0;
  position: relative;
}

.t-e-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 126px 0 112px 128px;

  gap: 32px;
  background: #324b5d;
}

.t-e-navigation-list.is-open {
  right: 0;
}

.t-e-navigation-link {
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #f0eceb;
}

.t-e-navigation-link:hover,
.t-e-navigatioт-link:focus {
  color: #34cdee;
}

.t-e-header.is-open {
  background-color: transparent;
}

.t-e-navigation-img {
  display: none;
}

@media screen and (min-width: 1199px) {
  .t-e-navigation-img {
    display: flex;
  }
  .t-e-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .t-e-header {
    width: 100%;
    height: 58px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #324b5d;
  }

  .t-e-header-background {
  }
  .t-e-header-icon-button {
    display: none;
  }
  .t-e-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-e-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 10px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-e-navigation-link {
    font-family: Roboto Serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0 80px;
    text-decoration: none;
  }

  .t-e-navigation-item-desk {
    display: none;
  }
}
.t-e-home {
  margin: auto;
}
.t-e-home-container {
  width: 375px;
  padding: 129px 20px 0px;
  margin: auto;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Mobile\ home.png");
}

.t-e-home-title-img {
  width: 335px;
}

@media screen and (min-width: 1199px) {
  .t-e-home-container {
    width: 1440px;
    padding: 143px 80px 0;
    height: 820px;
    background-image: url("/img/home/Home.png");
  }

  .t-e-home-title-img {
    width: 628px;
  }
}
.t-e-about {
  margin: auto;
  width: 375px;
  padding-top: 80px;
}
.t-e-about-container {
  padding: 0px 20px 0px;
  margin: auto;
  height: 566px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ app.png");
}
.t-e-about-title {
  font-family: Unica One;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #34cdee;
}
.t-e-about-text {
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 252px;
}

.t-e-about-text-bold {
  font-family: Roboto Serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1199px) {
  .t-e-about {
    width: 1440px;
    padding: 150px 80px 0;
  }
  .t-e-about-container {
    height: 356px;
    background-image: url("/img/About\ the\ app\ \(1\).png");
    padding: 0;
  }
  .t-e-about-title {
    font-family: Unica One;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-e-about-text {
    padding-top: 24px;
    width: 630px;
  }

  .t-e-about-text-bold {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.t-e-why {
  margin: auto;
  width: 375px;
  padding-top: 80px;
}

.t-e-why-container {
  height: 735px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Download\ button.png");
  margin: auto;
  padding: 405px 20px 0;
}

.t-e-why-text-bold {
  font-family: Roboto Serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #34cdee;
}
.t-e-why-text {
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 18px;
}

@media screen and (min-width: 1199px) {
  .t-e-why {
    width: 1440px;
    padding-top: 150px;
  }
  .t-e-why-container {
    height: 414px;
    background-image: url("/img/Download\ button\ \(1\).png");
    padding: 99px 80px 0;
  }
  .t-e-why-text-bold {
    font-family: Roboto Serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-e-why-text {
    width: 522px;
    font-family: Roboto Serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.t-e-characters-container {
  padding: 80px 20px 0;
  margin: auto;
  width: 375px;
}
.t-e-characters-list {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.t-e-characters-item {
  display: flex;
  gap: 6px;
}
.t-e-characters-img {
  width: 102px;
  height: 108px;
  border-radius: 12px;
}

.t-e-characters-text {
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 29px 5px;
  border-radius: 12px;
  border: 1px solid #34cdee;
}

@media screen and (min-width: 1199px) {
  .t-e-characters-container {
    padding: 150px 80px 0px;
    margin: auto;
    width: 1440px;
  }
  .t-e-characters-list {
    padding-top: 34px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .t-e-characters-item {
    display: flex;
    gap: 6px;
    width: 413px;
  }
}

.t-e-faq-container {
  padding: 80px 20px;
  width: 375px;
  margin: auto;
}
.t-e-faq-div {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.t-e-faq-img {
  width: 375px;
  margin-left: -20px;
}
.t-e-faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-e-faq-question {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.t-e-faq-question span {
  font-family: Roboto Serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;

  border-radius: 20px;
  padding-top: 12px;

  padding-bottom: 12px;
  padding-left: 18px;
  background: #34cdee;
}
.t-e-faq-answer {
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-e-faq-answer.open {
  max-height: 200px;
  opacity: 1;

  border-radius: 20px;
  border-width: 1px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 12px;
  padding-left: 18px;
  border: 1px solid #f0eceb;
}
.t-e-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.t-e-toggle-button img {
  transition: transform 0.3s ease;
  width: 50px;
  height: 50px;
}
.t-e-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  opacity: 0;
}

.t-e-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1199px) {
  .t-e-faq-container {
    padding: 150px 80px;
    width: 1440px;

    margin: auto;
  }

  .t-e-faq-div {
    padding-top: 34px;
    display: flex;
    flex-direction: row-reverse;
    gap: 29px;
  }
  .t-e-faq-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .t-e-faq-question {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 4px;
    width: 630px;
  }
  .t-e-faq-question span {
    width: 576px;
    border-radius: 20px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
  }
  .t-e-faq-answer {
    font-family: Roboto Serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-e-faq-answer.open {
    max-height: 200px;
    opacity: 1;

    border-radius: 20px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 18px;
    border: 1px solid #f0eceb;
    margin-left: auto;
    width: 564px;
  }
  .t-e-faq-img {
    width: 621px;
    height: 685px;
    border-radius: 12px;
    margin: 0;
  }
}

.t-e-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}
.t-e-gallery-list {
  width: auto;
  padding-top: 28px;
  margin: auto;
}

.t-e-gallery-item {
  width: 305px;
  height: 542px;
  border-radius: 12px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.t-e-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.t-e-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1199px) {
  .t-e-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
  }

  .t-e-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .t-e-gallery-button-icon {
    width: 18px;
    height: 36px;
  }
  .t-e-gallery-button:hover {
    scale: 120%;
  }

  .t-e-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 150px 80px 0px;
  }
  .t-e-gallery-item {
    width: 305px;
    height: 542px;
  }

  .t-e-gallery-list {
    padding: 34px 0 32px;
  }
}

.t-e-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}
.t-e-features-list {
  padding-top: 28px;
}

.t-e-features-item {
  width: 305px;
  height: 285px;
  padding: 21px 35px;
  border-radius: 12px;
  border: 1px solid #34cdee;

  margin: 0 10px;
}
.t-e-features-text {
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  margin: 16px 0 18px;
  height: 114px;
}
.t-e-features-img {
  width: 72px;
  height: 72px;
}

.t-e-features-text-bold {
  font-family: Roboto Serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #dab04e;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 1199px) {
  .t-e-features-container {
    width: 1440px;
    margin: auto;
    padding: 150px 80px 0px;
  }
  .t-e-features-list {
    padding: 34px 0 32px;
  }
}

.t-e-policy-terms-container {
  padding: 118px 20px 80px;
  width: 375px;
  margin: auto;
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-e-policy-terms-container h1 {
  font-family: Unica One;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  color: #34cdee;
  margin-bottom: 28px;
}
.t-e-policy-terms-container h2 {
  margin-top: 20px;
  font-family: Roboto Serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-e-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.t-e-email-link {
  color: inherit;
  text-decoration: none;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1199px) {
  .t-e-policy-terms-container {
    padding: 108px 180px 100px;
    width: 1440px;
  }
}

.t-e-footer-container {
  background: #34cdee;

  color: #324b5d;
  width: 375px;
  padding: 49px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.t-e-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.t-e-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Roboto Serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-e-footer-copyright {
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1199px) {
  .t-e-footer-container {
    width: 1440px;
    padding: 46px 80px;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .t-e-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 349px;
  }

  .t-e-footer-text {
    font-family: Roboto Serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .t-e-footer-copyright {
    font-family: Roboto Serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-e-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 21px;
  background: #34cdee;

  z-index: 1000;
  display: none;
}

.t-e-cookie-popup-text-two {
  font-family: Roboto Serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: #324b5d;
}

.t-e-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.t-e-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #324b5d;
  width: 295px;

  border-radius: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Roboto Serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #324b5d;
}

#accept-cookies {
  background: #324b5d;

  color: #34cdee;
}

.t-e-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1199px) {
  .t-e-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
  }

  .t-e-cookie-popup-text-two {
    font-family: Roboto Serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 595px;
  }

  .t-e-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .t-e-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 34px;
    display: none;
  }
}
